<div class="header-container">
  <div>
    <a href="#">Workspace</a>
    <select class="header-select">
      <option value="option1">
        <a href="#" target="_blank" rel="noopener noreferrer">Board 1</a>
      </option>
      <option value="option2">
        <a href="#" target="_blank" rel="noopener noreferrer">Board 2</a>
      </option>
      <option value="option3">
        <a href="#" target="_blank" rel="noopener noreferrer">Board 3</a>
      </option>
    </select>
  </div>
  <div class="header-search">
    <svg width="24" height="24" viewBox="0 0 24 24" role="presentation">
      <path
        fill="currentcolor"
        fill-rule="evenodd"
        d="m16.436 15.085 3.94 4.01a1 1 0 0 1-1.425 1.402l-3.938-4.006a7.5 7.5 0 1 1 1.423-1.406M10.5 16a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11"
      ></path>
    </svg>
    <input
      type="text"
      id="searchInput"
      placeholder="Search"
      autocomplete="off"
      class="header-input"
    />
    <div class="dropdown" id="resultsBox"></div>
  </div>
</div>
