<div>
  <mat-dialog-content>
    <div class="cover-page">
      <div class="container-img">
        <img
          class="covers-page-img"
          src="../../assets/js.png"
          alt="js"
          crossOrigin="anonymous"
        />
      </div>
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, dicta.
      Consequuntur, explicabo fugit ipsa quo officia ex cumque obcaecati maxime
      illum vel odio hic impedit, delectus nobis tempora numquam aspernatur.
      Illum facere a provident aperiam iste doloremque delectus quasi sit
      asperiores aliquam obcaecati vero quaerat doloribus, quidem ex beatae
      assumenda placeat animi alias! Rem dolorem excepturi iusto nam sed
      facilis? Libero inventore eligendi officia, impedit odit incidunt ducimus
      blanditiis veniam rerum, quos repudiandae molestiae, temporibus non. Quas
      et at suscipit ipsum, saepe voluptatem cumque pariatur incidunt hic minus
      quia asperiores. Cumque dolor nostrum, culpa nemo quibusdam, sunt, aut
      beatae modi rerum atque at. Autem odit enim nostrum et doloremque
      voluptatibus iste? Ut aperiam nisi esse reprehenderit dolore tempora
      incidunt officiis? Minus, perferendis distinctio fuga suscipit sit esse
      alias maiores dolore animi quo illum nesciunt eligendi vero sed ipsa sequi
      nulla, tempore beatae sapiente? Sequi repellendus aliquid ipsam ipsum sunt
      sit.
    </div>
    <mat-form-field>
      <mat-label>Favorite Animal</mat-label>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button cdkFocusInitial>Ok</button>
  </mat-dialog-actions>
</div>
