<div style="background-color: #000000d6; width: 100%">
  <mat-dialog-content style="color: white">
    <div class="cover-page">
      <div class="container-img">
        <img
          class="covers-page-img"
          src="../../assets/js.png"
          alt="js"
          crossOrigin="anonymous"
        />
      </div>
    </div>
    <p id="editable" style="color: white" contenteditable="true">
      dasd;laksdl;k
    </p>

    <p>En la lista: <a style="color: white" href="#blanck">Doing</a></p>
    <div>
      <p>Miembros</p>
      <p-avatar
        pButton
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
        shape="circle"
        class="bottom-card-iconAvatar"
        matTooltip="data.name"
      />
      <!-- <p-avatar
        pButton
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
        shape="circle"
        class="bottom-card-iconAvatar"
        matTooltip="data.name"
      />
      <p-avatar
        pButton
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
        shape="circle"
        class="bottom-card-iconAvatar"
        matTooltip="data.name"
      /> -->

      <p-avatar
        image="../assets/add icon.svg"
        shape="circle"
        class="bottom-card-iconAvatar plus-button"
        matTooltip="dsd"
      />
    </div>
    <div>
      <p>Etiquetas</p>
      <div style="display: flex; gap: 4px; flex-wrap: wrap">
        <span class="tags"></span>
        <span class="tags">diseño</span>
        <span class="tags">mejoras</span>
        <span class="tags"> </span>
        <span class="tags"></span>
        <span class="tags">Implementacion</span>
        <span class="tags"></span>
        <p-avatar
          image="../assets/add icon.svg"
          shape="circle"
          class="bottom-card-iconAvatar plus-button"
          matTooltip="dsd"
        />
        <!-- <button id="menuButton" (click)="openMenu()">Toggle Menu</button> -->
      </div>
    </div>
    w
    <div>
      <p>Description</p>
      <textarea
        name=""
        id=""
        placeholder="Escribir descripción..."
        (input)="this.auto_grow($event.target)"
        style="min-height: 50px; width: 100%; overflow: hidden; resize: none"
        class="description-text-area"
      ></textarea>
    </div>
    <div>
      <div style="display: flex">
        <img src="../../assets/attach_file.svg" alt="" />
        <p>Attachment (1)</p>
        <a href="#" target="_blank" rel="noopener noreferrer">Download all</a>
      </div>
      <div>
        <div style="display: flex; gap: 10px; flex-wrap: wrap">
          <div>
            <div
              style="
                display: flex; /* gap: 20px; */
                flex: 1;
                width: 100%;
                border: 2px solid rgb(0 0 0 / 19%);
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.36) 0px 4px 6px;
                padding: 12px;
                outline: none;
              "
            >
              <img
                src="../../assets/pdf.png"
                alt=""
                style="height: 64px; width: 64px"
              />
              <div>
                <p style="margin: 0px">Desing brief.pdf</p>
                <p>2.25 MB * Download</p>
              </div>
            </div>
          </div>
          <div>
            <div
              style="
                display: flex; /* gap: 20px; */
                flex: 1;
                width: 100%;
                border: 2px solid rgb(0 0 0 / 19%);
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.36) 0px 4px 6px;
                padding: 12px;
                outline: none;
              "
            >
              <img
                src="../../assets/pdf.png"
                alt=""
                style="height: 64px; width: 64px"
              />
              <div>
                <p style="margin: 0px">Desing brief.pdf</p>
                <p>2.25 MB * Download</p>
              </div>
            </div>
          </div>
          <div>
            <div
              style="
                display: flex; /* gap: 20px; */
                flex: 1;
                width: 100%;
                border: 2px solid rgb(0 0 0 / 19%);
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.36) 0px 4px 6px;
                padding: 12px;
                outline: none;
              "
            >
              <img
                src="../../assets/pdf.png"
                alt=""
                style="height: 64px; width: 64px"
              />
              <div>
                <p style="margin: 0px">Desing brief.pdf</p>
                <p>2.25 MB * Download</p>
              </div>
            </div>
          </div>
          <div
            style="
              display: flex;
              align-items: center;
              border: 2px solid rgb(0 0 0 / 19%);
              border-radius: 10px;
              box-shadow: rgba(0, 0, 0, 0.36) 0px 4px 6px;
              padding: 12px;
              outline: none;
            "
          >
            <img src="../../assets/add_50.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
    <tab-card />
  </mat-dialog-content>
</div>
