<div style="background-color: #000000d6">
  <mat-dialog-content style="color: white">
    <div class="cover-page">
      <div class="container-img">
        <img
          class="covers-page-img"
          src="../../assets/js.png"
          alt="js"
          crossOrigin="anonymous"
        />
      </div>
    </div>
    <p id="editable" style="color: white" contenteditable="true">
      dasd;laksdl;k
    </p>

    <p>En la lista: <a style="color: white" href="#blanck">Doing</a></p>
    <div>
      <p>Miembros</p>
      <p-avatar
        pButton
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
        shape="circle"
        class="bottom-card-iconAvatar"
        matTooltip="data.name"
      />
      <!-- <p-avatar
        pButton
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
        shape="circle"
        class="bottom-card-iconAvatar"
        matTooltip="data.name"
      />
      <p-avatar
        pButton
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
        shape="circle"
        class="bottom-card-iconAvatar"
        matTooltip="data.name"
      /> -->

      <p-avatar
        image="../assets/add icon.svg"
        shape="circle"
        class="bottom-card-iconAvatar plus-button"
        matTooltip="dsd"
      />
    </div>
    <div>
      <p>Etiquetas</p>
      <div style="display: flex; gap: 4px; flex-wrap: wrap">
        <span class="tags"></span>
        <span class="tags">diseño</span>
        <span class="tags">mejoras</span>
        <span class="tags"> </span>
        <span class="tags"></span>
        <span class="tags">Implementacion</span>
        <span class="tags"></span>
        <p-avatar
          image="../assets/add icon.svg"
          shape="circle"
          class="bottom-card-iconAvatar plus-button"
          matTooltip="dsd"
        />
      </div>
    </div>
  </mat-dialog-content>
</div>
