<div class="card">
  <p-tabView>
    <p-tabPanel header="Header I">
     
        <div style="display: flex; gap:5px">
          <p-checkbox [binary]="true" inputId="binary" />
          <p><a href="#" target="_blank" rel="noopener noreferrer">Doing</a></p>
          <textarea name="" id="" placeholder="Escribir descripción..." (input)="this.auto_grow($event.target)"
            style="min-height: 56px; width: 100%; overflow: hidden; resize: none" class="description-text-area"></textarea>
        </div>
      
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium...
      </p>
    </p-tabPanel>
    <p-tabPanel header="Header III">
      <p>At vero eos et accusamus et iusto odio dignissimos...</p>
    </p-tabPanel>
  </p-tabView>
</div>
