<div class="card">
  <p-tabView>
    <p-tabPanel header="Header I">
      <mat-selection-list style="color: white">
        @for (shoe of typesOfShoes; track shoe) {
        <mat-list-option
          class="mdc-list-item__primary-text"
          checkboxPosition="before"
          style="color: white"
        >
          <input type="text" />
        </mat-list-option>
        }
      </mat-selection-list>
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium...
      </p>
    </p-tabPanel>
    <p-tabPanel header="Header III">
      <p>At vero eos et accusamus et iusto odio dignissimos...</p>
    </p-tabPanel>
  </p-tabView>
</div>
