<div class="card">
  <p-tabView>
    <p-tabPanel header="Tasks">
      <ng-template pTemplate="header">
        <div style="display: flex">
          <span> Tasks </span>
        </div>
      </ng-template>
      <div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <h2>Our Desing Proces</h2>
          @if (listTasks.tasks.length > 0) {

          <div style="display: flex; align-items: center; gap: 10px">
            <mat-progress-spinner
              class="example-margin"
              [mode]="mode"
              [value]="(listTasks.completed / listTasks.tasks.length) * 100"
              [diameter]="32"
            >
            </mat-progress-spinner>
            <p>{{ listTasks.completed }} / {{ listTasks.tasks.length }}</p>
          </div>
          }
        </div>
        @for (item of listTasks.tasks; track $index) { @if (item.content) {
        <div class="container-for-content-task">
          <p-checkbox
            [(ngModel)]="item.status"
            [binary]="true"
            variant="filled"
            (onChange)="onCheckboxChange($event, $index)"
          />

          <!-- Mostrar enlace solo si isTaskSubmitted es true -->
          <div class="contianer-buttons-for-content-task">
            <div>
              <button class="style-button-for-content-task">
                <p [ngClass]="item.status ? 'text-the-task' : ''">
                  {{ item.content }}
                </p>
              </button>
            </div>
            <div class="container-for-actions-task">
              <button
                class="style-button-for-content-task button-for-eliminate"
                style="height: 24px"
                (click)="delteTask($index)"
              >
                <img
                  class="img-for-button-delete"
                  src="../../assets/delete-icon.svg"
                  alt=""
                  srcset=""
                />
              </button>
            </div>
          </div>
        </div>
        }

        <!-- Mostrar textarea solo si isTaskSubmitted es false -->

        }
        <div style="padding: 10px 0px 0px 30px">
          <textarea
            *ngIf="isTaskSubmitted"
            [(ngModel)]="contentTask"
            placeholder="Escribir descripción..."
            (input)="auto_grow($event.target)"
            style="
              min-height: 56px;
              width: 100%;
              overflow: hidden;
              resize: none;
            "
            class="description-text-area"
          ></textarea>

          <!-- Botón para activar el enlace -->

          <button *ngIf="!isTaskSubmitted" (click)="changeStatusForAddOrNot()">
            Add Task
          </button>
          <button *ngIf="isTaskSubmitted" (click)="addTask()">Add</button>
          <button *ngIf="isTaskSubmitted" (click)="cancelTask()">Cancel</button>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Comments">
      <ng-template pTemplate="header">
        <div style="display: flex; align-items: center; gap: 5px">
          <span> Comments </span>
          <p-badge value="2" />
        </div>
      </ng-template>
      <div class="container-for-write-comments">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
          shape="circle"
        />
        <div style="width: 100%">
          <div style="display: flex; width: 100%; flex-wrap: wrap">
            <div style="display: flex; flex-grow: 1; max-width: 100%">
              <div
                id="div-comment-main"
                #editableDiv
                contenteditable="true"
                *ngIf="!isTaskSubmitted"
                [(ngModel)]="contentComment"
                placeholder="Hacer comentario..."
                (input)="onInputChange($event)"
                ngClass="text-area-for-comments"
                (keydown)="
                  onKeyDown(
                    $event,
                    'https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png',
                    'Jose Rodriguez',
                    contentComment
                  )
                "
              ></div>
            </div>
            <!-- <textarea
                *ngIf="!isTaskSubmitted"
                [(ngModel)]="item.comment"
                placeholder="Hacer comentario..."
                (input)="auto_grow($event.target)"
                ngClass="text-area-for-comments"
              ></textarea> -->
            <div>
              <img
                (click)="
                  addComment(
                    'https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png',
                    'Jose Rodriguez',
                    contentComment
                  )
                "
                src="../../assets/attach_file.svg"
                alt=""
                srcset=""
              />
              <img
                (click)="
                  addComment(
                    'https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png',
                    'Jose Rodriguez',
                    contentComment
                  )
                "
                [src]="
                  contentComment.trim() !== ''
                    ? '../../assets/expand_circle_up_filled.svg'
                    : '../../assets/expand_circle_up.svg'
                "
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </div>
      @for (item of listComments; track $index) {
      <div class="container-comments">
        <div class="container-for-comment-section">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
            shape="circle"
          />
          <div style="width: 100%">
            <div style="display: flex; justify-content: space-between">
              <div style="display: flex; gap: 5px; margin-bottom: 5px">
                <p>Jose Rodriguez</p>
                <p>* 2 hours ago</p>
              </div>
              <div class="action-for-comments">
                <img
                  src="../../assets/delete-icon.svg"
                  alt=""
                  srcset=""
                  (click)="deletCommnet($index)"
                />
                <img
                  src="../../assets/edit.svg"
                  (click)="editar($index)"
                  alt=""
                  srcset=""
                />
              </div>
            </div>
            <div style="display: flex; flex-wrap: wrap">
              <div style="display: flex; flex-grow: 1; max-width: 100%">
                <textarea
                  (keydown)="onKeyDownTextArea($event, $index)"
                  #commentTextareas
                  [ngStyle]="{ 'height.px': item.height }"
                  *ngIf="!isTaskSubmitted"
                  [(ngModel)]="item.comment"
                  placeholder="Hacer comentario..."
                  (input)="auto_grow($event.target)"
                  [ngClass]="{
                    'text-area-for-comments': true,
                    'editable-background': item.edit,
                    'no-focus-textaree': !item.edit
                  }"
                  [readonly]="!item.edit"
                >
                </textarea>
              </div>
              <!-- <textarea
                *ngIf="!isTaskSubmitted"
                [(ngModel)]="item.comment"
                placeholder="Hacer comentario..."
                (input)="auto_grow($event.target)"
                ngClass="text-area-for-comments"
              ></textarea> -->
            </div>
          </div>
        </div>
      </div>
      }
    </p-tabPanel>
    <p-tabPanel header="Header III">
      <ng-template pTemplate="header">
        <div style="display: flex">
          <span> Activities </span>
        </div>
      </ng-template>
      <p>At vero eos et accusamus et iusto odio dignissimos...</p>
    </p-tabPanel>
  </p-tabView>
</div>
