@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

 *{
    font-size: 16px;
 }
.container-for-content-task{
    display: flex;
    gap: 5px;
    
}
.style-button-for-content-task{
    background: transparent;
    border: none;
    cursor: pointer;
    
}
.text-the-task{
    display: flex;
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.284);
}
.contianer-buttons-for-content-task{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px; 
}
.contianer-buttons-for-content-task:hover{
    background-color: gray;
}
 
.container-for-actions-task{
    
    display: flex;
}

.contianer-buttons-for-content-task:hover .img-for-button-delete{
    display: flex;
}
.container-for-actions-task:hover{
}

.img-for-button-delete{
    display: none;
}

.container-for-write-comments{
    display: flex;
    gap: 10px;
}
.container-comments{

}

.container-for-comment-section{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.container-for-comment-section:hover .action-for-comments{
    opacity: 1;
}
.text-area-for-comments{
    min-height: 56px;
    width: 100%;
    overflow: hidden;
    resize: none;
    background: transparent;
    border: transparent;
    max-width: 100%;
    word-break: break-word;
    cursor: default;
    padding: 5px 10px;
}

.text-area-for-comments:empty:before {
    content: attr(placeholder);
    color: gray;
}
 
.text-area-for-comments:active {
border:0cap;
}
p{
    margin: 0px;
}

button,img{
    cursor: pointer;
    background: transparent;
    border: transparent;
}

.action-for-comments{
    display: flex;
        gap: 10px;
        align-items: flex-start;
        opacity: 0;
}
 

.no-focus-textaree:focus-visible { 
    cursor: auto;
    border: none;
    /* Quita el borde */
    outline: none;
    /* Quita el contorno al enfocarse */
    resize: none;
    /* Opcional: Deshabilita el redimensionamiento */
}