<!-- <div cdkDropListGroup class="board" (click)="onBoardClick()">
  @for (col of columnList; track col;let idx = $index) {
  <div class="example-container">
    <div class="example-container">
      <h2>{{ col.name }}</h2>
      <div
        cdkDropList
        [cdkDropListData]="col.data"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (data of col.data; track data) {

        <div class="example-box" cdkDrag>
          @if (data === "") {

          <input
            #nameInput
            class="example-box input-name-card"
            [(ngModel)]="nombre"
            placeholder="Escribe tu nombre"
            cdkDrag
          />

          } @else{
          {{ data }}

          }
        </div>

        }
      </div>

      <div *ngIf="col.estado; else saveButton">
        <button
          class="button-transparent button-add-card"
          (click)="addCard(col.data, col.estado, col.name, idx)"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="add"
          ></mat-icon>
          <p>Añadir una tarjeta</p>
        </button>
      </div>
      <ng-template #saveButton>
        <div style="display: flex; width: 100%">
          <button
            id="card"
            class="button-transparent button-add-card"
            (click)="saveCard(col.data, true, idx)"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="save"
            ></mat-icon>
            <p>Guardar tarjeta</p>
          </button>
          <button
            class="button-transparent button-add-card"
            (click)="avoidAddCard(col.data, idx)"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="close"
            ></mat-icon>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
  }

 
</div> -->
<div>
  <div
    cdkDropListGroup
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="board"
    (click)="onBoardClick($event)"
    (cdkDropListDropped)="dropHorizontal($event)"
    id="scroll-container"
  >
    @for (col of columnList; track col;let idx = $index) {

    <div class="example-container" cdkDrag>
      <div>
        @if (col.titleEditable) {

        <textarea
          id="titleCard"
          #textarea
          (enterPressed)="onEnterPressed(col.id)"
          appAutoResize
          [externalHeight]="externalHeight"
          [(ngModel)]="col.name"
          maxlength="512"
          dir="auto"
          style="font-weight: 900; font-family: Roboto"
          class="input-title-cards auto-resize"
          >{{ col.name }}</textarea
        >
        } @else {
        <h2
          id="h2Title"
          #header
          role="textbox"
          class="input-title-cards"
          style="cursor: pointer"
          (click)="changeTitle(col.id, $event)"
        >
          {{ col.name }}
        </h2>
        }
      </div>
      <div
        cdkDropList
        [cdkDropListData]="col.data"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        cdkDrag
      >
        @for (data of col.data; track data) { @if (data === "") {

        <input
          #nameInput
          class="example-box input-name-card"
          [(ngModel)]="nombre"
          (ngModelChange)="onInputChange()"
          (keydown.enter)="saveCard(col.data, idx, col.id)"
          placeholder="Escribe tu nombre"
        />

        } @else{
        <div
          class="example-box"
          cdkDrag
          (click)="onClickOnCard(col)"
          (cdkDragStarted)="drag($event)"
        >
          {{ data }}
        </div>
        } }
      </div>

      <div *ngIf="col.estado; else saveButton">
        <button
          class="button-transparent button-add-card"
          (click)="addCard(col.data, col.estado, col.name, idx)"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="add"
          ></mat-icon>
          <p>Añadir una tarjeta</p>
        </button>
      </div>
      <ng-template #saveButton>
        <div style="display: flex; width: 100%" class="save-card">
          <button
            id="card"
            class="button-transparent button-add-card save-card"
            (click)="saveCard(col.data, idx, col.id)"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="save"
              class="save-card"
            ></mat-icon>
            <p class="save-card">Guardar tarjeta</p>
          </button>
          <button
            class="button-transparent button-add-card"
            (click)="avoidAddCard(col.data, idx)"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="close"
            ></mat-icon>
          </button>
        </div>
      </ng-template>
    </div>
    }
    <div>
      <button
        class="button-transparent button-add-card"
        (click)="addColumn('hello')"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="add"
        ></mat-icon>
        <p>Añadir nueva columna</p>
      </button>
    </div>
  </div>
</div>
