 
.board{
    background-color: rgb(25, 25, 25);
    height: 100%;
    display: inline-flex; 
    white-space: nowrap;
    position: absolute;
    
}

 
.example-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 268px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    vertical-align: top;
    flex: 1;
    
}

 

.example-list {
    display: flex;
    flex-direction: column; 
    height: 100%;
    background: transparent;
    border-radius: 10px;
    overflow: auto; 
    gap: 8px;
}

.example-list::-webkit-scrollbar-thumb {
    background-color: transparent;
}  
.example-list:hover::-webkit-scrollbar-thumb {
    background-color: #2F3736;
}

.button-transparent {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.282);

}

.container-button-save{
    margin-left: 10px;
}

.container-button-save:hover{
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 10px;
    width: 100%;
   
}

.button-add-card{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

 

.input-name-card{
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

.example-box {
    padding: 20px 10px; 
    color: whitesmoke;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    box-sizing: border-box;
    cursor:pointer;
    background: rgba(255, 255, 255, 0.055);
    font-size: 14px;
    white-space: normal;
    word-break: break-all;
    border-radius: 5px;
    margin: 0px 6px;
    gap: 10px;
}


.mat-primary.mat-mdc-progress-bar{
    border-radius: 10px;
    /* --mdc-linear-progress-active-indicator-height: 8px;
    --mdc-linear-progress-track-height:8px */
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
    cursor: pointer;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.button-title-card{
    width: 100%;
   
}

.text-area-title{
    position: absolute;
    top: 1;
}
 

 
.input-title-cards {
    background-color: transparent;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    display: block;
    overflow-wrap: break-word;
    resize: none;
    overflow: hidden; 
    width: 100%; 
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    white-space: pre-wrap;
    word-wrap: break-word;
}

textarea.input-title-cards {
    resize: none;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    margin: 0;padding: 10px;
    display: block;
    border: 3px solid #ffffff00;
    height: auto;  
    white-space: pre-wrap;
    word-wrap: break-word;
        
}

h2.input-title-cards {
    display: block;
    margin: 0; 
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word; 
    padding: 10px;
}
.input-title-cards::placeholder {
    color: #aaa;
}

.input-title-cards:focus {
    outline: none;
    border: 3px solid #006eff;
}


.subtasks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-card{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.information-card-detail{
    margin: 0px 0px 0px 5px;
}

.bottom-card-iconAvatard{
    /* width: 100%; */
    background-color: #006eff;
    border-radius: 50px;
}

.size-icon{
    /* font-size: 16px */
}

.t{
    flex: 1;
}
 


.ex{
      
            top: 10px;
            right: 10px;
            color: #ccc;
            cursor: move;
            width: 24px;
            height: 24px;
        
}
 
.plus-button{

}

/* Contenedor del botón con el tooltip */
.tooltip-container {
    position: relative;
    /* Posiciona el tooltip respecto al botón */
    display: inline-flex;
    z-index: 1;
    /* Establece un contexto de apilamiento para el contenedor */
   
    /* Asegura que el contenido del tooltip sea visible fuera del contenedor si es necesario */
}

 .example-header-image {
     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
     background-size: cover;
 }

/* Tooltip oculto inicialmente */
.tooltip-text {
    visibility: hidden;
    /* Oculto inicialmente */
    width: 50px;
    /* Ancho del tooltip */
    background-color: #555;
    /* Fondo oscuro del tooltip */
    color: #fff;
    /* Color del texto */
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;

    /* Posición del tooltip debajo del botón */
    position: absolute;
    z-index: 999;
    /* Coloca el tooltip por encima de otros elementos */
    top: 125%;
    /* Muestra el tooltip debajo del botón */
    left: 50%;
    margin-left: -25px;
    /* Ajuste para centrar el tooltip */

    /* Efecto de desvanecimiento */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Triángulo del tooltip */
.tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    /* Flecha encima del tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
    /* Flecha hacia arriba */
}

/* Mostrar el tooltip al hacer hover */
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    /* Mostrar el tooltip con un efecto de desvanecimiento */
}

.plus-icon{
    background-color: #006eff;
}

.button-delete-card {
    display: none;
    position: absolute;
    right: 0%;
}

.example-box:hover .button-delete-card {
    display: block;
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

.button-delete-title {
    display: none;
    position: absolute;
    right: 0%;
}

.title-container:hover .button-delete-title {
    display: block;
    background-color: lightgray;
    color: black;
    cursor: pointer;
}


.scroll-container {
    /* white-space: normal; */
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    border: 1px solid #ccc;
}

.sticky-horizontal {
    position: sticky;
    left: 0;
    background: yellow;
    display: inline-block;
    padding: 10px;
    z-index: 1;
    height: 70px;
    bottom: 100vh;
    width: 100%;
}

.content {
    display: inline-block;
    width: 2000px;
    /* Simula mucho contenido horizontal */
    background: lightblue;
    height: 100%;
}